<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
<Document name="TestCoverage.ZPM"><Module>
  <Name>TestCoverage</Name>
  <Version>4.0.6</Version>
  <Description>Run your typical ObjectScript %UnitTest tests and see which lines of your code are executed. Includes Cobertura-style reporting for use in continuous integration tools.</Description>
  <Packaging>module</Packaging>
  <Resource Name="TestCoverage.PKG" Directory="cls" />
  <Resource Name="TestCoverage.DataType.PKG" Directory="cls" />
  <Resource Name="TestCoverage.INC" Directory="inc" />
  <UnitTest Name="/internal/testing/unit_tests/" Package="UnitTest.TestCoverage.Unit" Phase="test" />
  <LifecycleClass>Module</LifecycleClass>
  <SourcesRoot>.</SourcesRoot>
</Module>
</Document></Export>
