<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
<Document name="TestCoverage.ZPM"><Module>
  <Name>TestCoverage</Name>
  <Version>2.1.4</Version>
  <Description>Run your typical ObjectScript %UnitTest tests and see which lines of your code are executed. Includes Cobertura-style reporting for use in continuous integration tools.</Description>
  <Packaging>module</Packaging>
  <Resources>
    <Resource Name="TestCoverage.PKG">
    </Resource>
    <Resource Name="TestCoverage.DataType.PKG">
    </Resource>
    <Resource Name="TestCoverage.INC">
    </Resource>
    <Resource Name="/internal/testing/unit_tests/" ProcessorClass="UnitTest">
      <Attribute Name="Package">UnitTest.TestCoverage.Unit</Attribute>
      <Attribute Name="Phase">test</Attribute>
    </Resource>
  </Resources>
  <LifecycleClass>Module</LifecycleClass>
</Module>
</Document></Export>
